%h2 About #{@coin_info['Name']}
.row
  .col-md-6
    %table.table
      - @coin_info.select {|k,_| k != 'Name' }.each do |k, v|
        %tr
          %th= k
          %td= v[0, 2] == "ht" ? link_to(v) : v
  .col-md-6
    %img.img-responsive{alt: "#{@coin_info['Name']} logo", src: url("/#{coin_tag}-big.png")}
