!!!
%html{lang:"en"}
  %head
    %title Block Chain Explorer for #{@coin_info['Name'].upcase}
    %meta{charset: "utf-8"}
    %meta{name: "viewport", content: "width=device-width, initial-scale=1"}
    %link{href: url("/#{coin_tag.downcase}icon.ico"), rel: "shortcut icon", type: "image/x-icon"}
    %link{href: "//netdna.bootstrapcdn.com/bootstrap/3.1.0/css/bootstrap.min.css", rel: "stylesheet"}
    %style body{padding-top:60px;}.coin-logo{height:5em;max-height:5em;padding:0;margin:10px 10px 10px auto;}.tx-detail-table{width:100%;}.amount{text-align:right;}

  %body
    .navbar.navbar-default.navbar-fixed-top{role: "navigation"}
      .container
        .navbar-header
          %a.navbar-brand{href: "/"} Block Explorer
        .collapse.navbar-collapse
          %ul.nav.navbar-nav
            %li
              %a{href: url("/")} Home
            %li
              %a{href: url("/top20")} Richlist
            %li
              %a{href: url("/about")} About
    .container
      .row
        %table{align: "center"}
          %tr
            %td
              %a{href: url("/")}
                %img.coin-logo{src: url("/#{coin_tag}.png")}
            %td{"vertical-align" => "center"}
              %h1{style: "margin-top: 0"}
                %a{href: url("/")}= "#{coin_tag}<span class='hidden-xs'> Blockchain</span> Explorer"
              %p up to block <span id='up-to-block'>#{@block_count}</span>

      .row#search-row{style:"margin-bottom: 10px"}
        .col-sm-3
        %form.form-horizontal.col-sm-6#search{role: "search", action: url("/search"), method: "get"}
          .input-group
            %input.form-control#searchField{type: "text",  name: "q", placeholder: "Search address, block, transaction"}
            .input-group-btn
              %button.btn.btn-default{type: "submit"}
                %i.glyphicon.glyphicon-search

      .row= yield

    .footer
      .container
        %p.text-muted
          2015, Block Chain Explorer for #{@coin_info['Name'].upcase}, v.#{BceExplorer::VERSION}. Hosted on <a href="https://www.digitalocean.com/?refcode=2e7502cf0a89">Digital Ocean</a>
        %p
          Bitcoin donations can be sent to <code>14SZqCreNCQgvgB3z9PGEncad9X5xdMfMh</code>
