.row
  .col-md-6
    %h3 Network Information
    - if @network_info.empty?
      %p couldn't get information
    - else
      %table.table
        %tr
          %th Version
          %td= @network_info['version']
        %tr
          %th Protocol Version
          %td= @network_info['protocolversion']
        %tr
          %th Blocks
          %td= @network_info['blocks']
        %tr
          %th Money Supply
          %td= @network_info['moneysupply']
        %tr
          %th Connections
          %td= @network_info['connections']

        - unless @network_info['difficulty'].nil?
          %tr
            %th.text-right Difficulty
            %td
          %tr
            %th proof-of-work
            %td= @network_info['difficulty']['proof-of-work']
          %tr
            %th proof-of-stake
            %td= @network_info['difficulty']['proof-of-stake']

  .col-md-6
    %h3 Node List
    %textarea.form-control{rows: 15, readonly: true, style: 'cursor:text'}
      - if @network_peer.empty?
        none
      - else
        - @network_peer.reject{ |peer| peer['inbound'] }.each do |peer|
          = "addnode=#{peer['addr']}\n"
