- if @tx_info.empty?
  %h2 Transaction Not Found
- else
  %h2 Details for Transaction
  %table.table
    %tr
      %td Hash
      %td
        %code#tx-hash= @tx_info['txid']
    %tr
      %td Block Hash
      %td= link_to_block(@tx_info['blockhash'])
    %tr
      %td Confirmations
      %td= @tx_info['confirmations']
    %tr
      %td Date/Time
      %td= human_time @tx_info['time']

  %h2 Inputs
  %table.table
    %thead
      %tr
        %th From
        %th Amount
    %tbody
      - @tx_info['inputs'].each do |input|
        %tr
          %td
            - if input['address'].include? "Generation"
              = input['address']
            - else
              =link_to_address input['address']
          %td= "#{coin_amount input['value']} #{coin_tag}"
  %h2 Outputs
  %table.table
    %thead
      %tr
        %th To
        %th Amount
    %tbody
      - @tx_info['outputs'].each do |output|
        - unless output['address'] == "stake"
          %tr
            %td= link_to_address output['address']
            %td #{coin_amount output['value']} #{coin_tag}
