- if @wallet_info.nil?
  %h2 Wallet Not Found
- else
  %h2 Guesstimated Wallet
  %div.alert.alert-info{role: 'alert'} This feature is experimental and inaccurate! 
  %table.table
    %tr
      %td Balance
      %td #{coin_amount @wallet_balance} #{coin_tag}
    %tr
      %td Addresses
      %td #{@wallet_info.count} with non zero-balance<br />#{@wallet_knowns} known

  %h2 Addresses with non-zero balance
  %table.table
    %thead
      %tr
        %th Addresses
        %th Balance
    %tbody
      - @wallet_info.each do |address|
        %tr
          %td= link_to_address address[:address]
          %td.amount #{coin_amount address[:balance]} #{coin_tag}
