- if @wallet_info.empty?
  %h2 Wallet Not Found
- else
  %h2 Guesstimated Wallet
  %div.alert.alert-info{role: 'alert'} This feature is experimental and inaccurate! 
  %table.table
    %tr
      %td Balance
      %td= coin_amount @wallet_balance
    %tr
      %td Addresses
      %td #{@wallet_info.count} with non zero-balance<br />#{@wallet_knowns} known

  %h2 Addresses with non-zero balance
  %table.table
    %thead
      %tr
        %th #
        %th Addresses
        %th Balance
        %th Percent of coins
    %tbody
      - @wallet_info.each_with_index do |address, index|
        %tr
          %td.text-right= (index + 1)
          %td= link_to_address address['address']
          %td= coin_amount address['balance']
          %td= coin_percent address['balance']
