- if @block_info.nil? || @block_info.prevhash.nil?
  %h2 Block Not Found
- else
  %h3 Details for Block ##{@block_info.height}#{' (Genesis)' if @block_info.height == 1}
  %table.table#details
    %tr
      %td
        %strong Hash
      %td
        %ul.pager.block-pager
          - unless @block_info.height == 1
            %li.previous
              %a{href: to_block(@block_info.prevhash), title: 'previous block'}
                %span.fui-arrow-left

          %li.block-hash.hidden-xs.hidden-sm
            %span{title: "#{@block_info.hash}"}= @block_info.hash

          %li.block-hash.hidden-md.hidden-lg
            %span{title: "#{@block_info.hash}"}= shorten_hash @block_info.hash

          - if @block_count > @block_info.height.to_i
            %li.next
              %a{href: to_block(@block_info.nexthash), title: 'next block'}
                %span.fui-arrow-right

    %tr
      %td
        %strong Timestamp
      %td= human_time @block_info.time

    %tr
      %td
        %strong Difficulty
      %td
        = @block_info.difficulty
        - if @block_info.pos?
          %span.label.label-success Proof of Stake
        - else
          %span.label.label-primary Proof of Work

    %tr
      %td
        %strong Mint
      %td
        = coin_amount @block_info.mint

    %tr
      %td
        %strong Size
      %td= @block_info.size

    %tr
      %td
        %strong Transactions
      %td= @block_info.tx.length

  = partial :tx_list, locals: {tx_info: @block_info.tx, title: 'Transactions'}
