= partial :about

%h3 Latest Blocks
%table.table.table-hover#recent-blocks
  %thead
    %tr
      %th Blockheight
      %th Date/Time
      %th Transactions
      %th.hidden-xs Difficulty
  %tbody
    - @blocks.each do |block|
      %tr
        %td= link_to_block block.height
        %td= time_ago block.time
        %td= block.tx.length
        %td.hidden-xs= block.difficulty
