%h3= title
- if tx_info.nil? or tx_info.empty?
  %h3 No transactions found
- else
  - tx_info.each do |tx|
    .panel.panel-default
      .panel-heading
        .row
          .col-md-8.col-lg-8
            %strong= link_to_tx tx.txid
          .col-md-4.col-lg-4
            %strong.pull-right= human_time tx.time

      .panel-body
        .row
          .col-md-4.col-lg-4
            - tx.inputs.map { |input| input['address'] }.uniq.each do |address|
              %p
                - if address.include? "Generation"
                  = address
                - else
                  = link_to_address address

          .col-md-2.col-lg-2
            .pull-right
              - image = (tx.type == 'in') ? 'red' : 'green'
              - if tx.type == 'minted'
                %img{src: "/img/minted.png", title: 'Minted'}
              - else
                %img{src: "/img/arrow_right_#{image}.png", title: 'Sent/Received'}

          .col-md-6.col-lg-6
            %table.tx-detail-table
              %tbody
                - tx.outputs.each do |output|
                  %tr
                    - if output['address'] == "stake"
                      %td Included in following transaction(s)
                    - else
                      %td
                        = link_to_address output['address']
                    %td.amount= coin_amount output['value']
