- if @wallet_info.nil?
  %h3 Wallet Not Found
- else
  %h3 Guesstimated Wallet
  %div.alert.alert-info This feature is experimental and inaccurate! 
  %table.table
    %tr
      %th Balance
      %td= coin_amount @wallet_info.balance
    %tr
      %th Addresses
      %td #{@wallet_info.addresses.count} with non zero-balance<br />#{@wallet_info.size} known

  %h3 Addresses with non-zero balance
  %table.table
    %thead
      %tr
        %th #
        %th Addresses
        %th Balance
        %th.hidden-xs.hidden-sm Percent of coins
    %tbody
      - @wallet_info.addresses.each_with_index do |address, index|
        %tr
          %td.text-right= (index + 1)
          %td= link_to_address address.address
          %td= coin_amount address.balance
          %td.hidden-xs.hidden-sm= coin_percent address.balance
